<h2>View1</h2>

<div>View Message: {{message}}</div>

<table>
    <thead><tr><th>ID</th><th>Name</th><th>Email</th></tr></thead>
    <tbody>
    <tr ng-repeat="user in users"><td>{{user.id}}</td><td>{{ user.name }}</td><td>{{user.email}}</td></tr>
    </tbody>
    <tfoot>

    </tfoot>
</table>