<!DOCTYPE html>
<html>

    <head>
        <script data-main="script/main.js" src="script/vendor/requirejs/require.js"></script>
    </head>

    <body>
        <!--
        you were creating your module twice: once with the ng-app directive and once with the ng.module call.
        Go either for automatic (ng-app) or for manual (angular.bootstrap) bootstrapping.
        
        <div ng-app="myApp">
        -->
        <div>
            <h1>Sample for angular + requirejs + jquery</h1>
            <div>
                <a href="#/home">Home</a>
                <a href="#/view-factory">View User Factory</a>
                <a href="#/view-service">View User Service</a>
            </div>

            <div ng-controller="WelcomeController">

                {{message}}

                <p>Input something in the input box:</p>
                <p>Name: <input type="text" ng-model="name" value="John"></p>
                <p ng-bind="name"></p>

            </div>

            <div>
                <input type="text" ng-model="color" placeholder="Enter a color" />
                <input type="text" ng-model="size" placeholder="Enter a number" />
                <div data-hello-world></div>
            </div>

            <div ng-controller="SignupController">
                <form name="signup_form" novalidate ng-submit="signupForm()">
                <fieldset>
                  <legend>Signup</legend>


                  <div class="row">
                    <div class="large-12 columns">
                      <label>Your name</label>
                      <input type="text" 
                          placeholder="Name" 
                          name="name" 
                          ng-model="signup.name" 
                          ng-minlength=3 
                          ng-maxlength=20 required />
                     <div class="error" 
                          ng-show="signup_form.name.$dirty && signup_form.name.$invalid">
                      <small class="error" 
                          ng-show="signup_form.name.$error.required">
                          Your name is required.
                      </small>
                      <small class="error" 
                              ng-show="signup_form.name.$error.minlength">
                              Your name is required to be at least 3 characters
                      </small>
                      <small class="error" 
                              ng-show="signup_form.name.$error.maxlength">
                              Your name cannot be longer than 20 characters
                      </small>
                    </div>
                    </div>
                  </div>


                  <div class="row">          
                    <div class="large-12 columns">
                      <label>Your email</label>
                      <input type="email" 
                        placeholder="Email" 
                        name="email" 
                        ng-model="signup.email" 
                        ng-minlength=3 ng-maxlength=20 required />
                      <div class="error-container" 
                           ng-show="signup_form.email.$dirty && signup_form.email.$invalid">
                        <small class="error" 
                               ng-show="signup_form.email.$error.required">
                               Your email is required.
                        </small>
                        <small class="error" 
                               ng-show="signup_form.email.$error.minlength">
                                Your email is required to be at least 3 characters
                        </small>
                        <small class="error" 
                               ng-show="signup_form.email.$error.email">
                               That is not a valid email. Please input a valid email.
                        </small>
                        <small class="error" 
                               ng-show="signup_form.email.$error.maxlength">
                                Your email cannot be longer than 20 characters
                        </small>
                      </div>
                    </div>
                  </div>

                  <button type="submit" ng-disabled="signup_form.$invalid" class="button radius">Submit</button>
                </fieldset>
                </form>
            </div>
            <div ng-view></div>
        </div>
    </body>
</html>