<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="js/vendors/jquery/dist/jquery.min.js"></script>
    <script src="js/vendors/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>

    <button id="jquery-button">JQuery click</button>
    <div id="jquery-content">I'm jquery content</div>

    <hr/>

    <div ng-app="compare" ng-controller="AppCtrl">
        <button ng-click="toggle()">Angular click</button>
        <div ng-hide="isHidden">Angular content</div>
        <div ng-hide="isHidden">Angular content</div>
        <div ng-hide="isHidden">Angular content</div>
        <div ng-hide="isHidden">Angular content</div>
        <div ng-show="isHidden">Inverse</div>
    </div>

</body>
</html>