<html>
<head>
    <script src="components/angular/angular.js"></script>
    <script>
        // var app = angular.module("myapp", []);

        // // Standard:
        // app.controller("MessageController",function($scope) {
        //         $scope.message = "Hello World!";
        //     }
        // );

        /*
        // Minsafe:
        app.controller('MessageController', ['$scope',function($scope) {
            //your minsafe code
            $scope.message = "Hello World!";
        }]);
        */

        // Basic:
        var app = angular.module('myApp', []);
        var config = {
            headers:{
                'Authorization': "Basic " + btoa("splllctre:sp8:-ctre"),
                'Accept': 'application/json;odata=verbose'
            }
        };
        app.controller('customersCtrl', function($scope, $http) {
            $http.get("https://api.github.com/user/repos", config).then(function(response) {
                $scope.myData = response.data;
                console.log($scope.myData);
            });
        });
    </script>
</head>
<body>
    <!-- <div ng-app="myapp" ng-controller="MessageController">
        {{message}}
    </div> -->
    <div ng-app="myApp" ng-controller="customersCtrl">

    <ul>
      <li ng-repeat="x in myData">
        {{ x.name + ', ' + x.description }}
      </li>
    </ul>

    </div>
</body>
</html>
