<html>
<head>
    <script src="components/angular/angular.js"></script>
    <script>
        // var app = angular.module("myapp", []);

        // // Standard:
        // app.controller("MessageController",function($scope) {
        //         $scope.message = "Hello World!";
        //     }
        // );

        /*
        // Minsafe:
        app.controller('MessageController', ['$scope',function($scope) {
            //your minsafe code
            $scope.message = "Hello World!";
        }]);
        */

        var app = angular.module('myApp', []);
        var config = {
            headers:{
                'Authorization': "Basic " + btoa("splllctre:sp8:-ctre"),
                'Accept': 'application/json;odata=verbose'
            }
        };
        app.controller('customersCtrl', function($scope, $http) {
            $scope.repos = {};
            $scope.error = {};

            $scope.repos.doClick = function(item, event) {

                var responsePromise = $http.get("https://api.github.com/user/repos", config);

                responsePromise.success(function(data, status, headers, config) {
                    $scope.repos = data;
                    console.log(data);
                });

                responsePromise.error(function(data, status, headers, config) {
                    $scope.error = data;
                    console.log(data);
                });

                // $http.get("https://api.github.com/user/repos", config).then(function(response) {
                //     $scope.myData = response.data;
                //     console.log($scope.myData);
                // });
            }
        });
    </script>
</head>
<body>
    <!-- <div ng-app="myapp" ng-controller="MessageController">
        {{message}}
    </div> -->

    <div ng-app="myApp" ng-controller="customersCtrl">

        <button ng-click="repos.doClick(item, $event)">Send AJAX Request</button>
        <ul>
          <li ng-repeat="x in repos">
            {{ x.name + ', ' + x.description }}
          </li>
        </ul>

        <p>{{error.message}}</p>

    </div>
</body>
</html>
