<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJS Posting Login Form</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .login-form {
            max-width: 300px;
            margin: 0 auto;
        }

        #inputUsername {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        #inputPassword {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .form-element {
            margin-bottom: 10px;
        }
    </style>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
    // ngSubmit - directive in module ng - Enables binding angular expressions to onsubmit events.
    // Ref: https://docs.angularjs.org/api/ng/directive/ngSubmit
    var app = angular.module('GitHubRepoModule', []);

    app.controller('GetReposController', ['$scope', '$http', function($scope, $http) {

        $scope.submit = function() {
            $scope.collection = '';
            $scope.error = '';
            var encodedString = $scope.username + ':' + $scope.password;
            $http({
                method: 'GET',
                url: 'https://api.github.com/user/repos',
                headers:{
                    'Authorization': "Basic " + btoa(encodedString),
                    'Accept': 'application/json; odata=verbose',
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            })
            .success(function(data, status, headers, config) {
                $scope.collection = data;
                $scope.username = '';
                $scope.password = '';
            })
            .error(function(data, status, headers, config) {
                $scope.error = data;
            })
        };

    }]);

    </script>

    </head>

    <body ng-app = "GitHubRepoModule" ng-controller = "GetReposController">
        <div class = "container">
            <form class = "login-form" ng-submit = "submit()">
                <h2>Please fill in</h2>

                <label for = "inputUsername" class = "sr-only">Username</label>
                <input type = "text" id = "inputUsername" class = "form-control form-element" placeholder = "Username" required autofocus ng-model = "username">

                <label for = "inputPassword" class = "sr-only">Password</label>
                <input type = "password" class = "form-control form-element" placeholder = "Password" required ng-model = "password">

                <div class = "alert alert-success" ng-show = "collection" ng-click = "collection=false">
                    <ul>
                        <li ng-repeat = "repo in collection">
                            {{ repo.name + ', ' + repo.description }}
                        </li>
                    </ul>
                </div>

                <div class = "alert alert-danger" ng-show = "error" ng-click = "error=false">
                    {{error.message}}
                </div>

                <button class = "btn btn-lg btn-primary btn-block" type = "submit" ng-disabled = "!username || !password">Submit</button>
            </form>
        </div>
    </body>
</html>
