<!DOCTYPE html>
<html>

    <head>
        <script data-main="scripts/main.js" src="scripts/vendor/requirejs/require.js"></script>
    </head>

    <body>
        <!--
        you were creating your module twice: once with the ng-app directive and once with the ng.module call.
        Go either for automatic (ng-app) or for manual (angular.bootstrap) bootstrapping.
        
        <div ng-app="myApp">
        -->
        <div>
            <div ng-controller="MainController">

                {{message}}

            </div>
        </div>
    </body>
</html>